<% layout('layouts/boilerplate')%>

<h1 class="text-center">Edit Loader</h1>
<div class="row">
    
    <div class="col-6 offset-3">
            <form action="/loaders/<%=loader._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="company">Company</label>
                    <input class="form-control" type="text" id="company" name="loader[company]" value="<%= loader.company %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="contact">Contact Name</label>
                    <input class="form-control" type="text" id="contact" name="loader[contact]" value="<%= loader.contact %>"required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="phone">Phone Number</label>
                    <input class="form-control" type="number" id="phone" name="loader[phone]" value="<%= loader.phone %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email Address</label>
                    <input class="form-control" type="text" id="email" name="loader[email]" value="<%= loader.email %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="loader[location]"
                        value="<%=loader.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn-success">Update Loader</button>
                </div>
            </form>
            <a href="/loaders">All Loaders</a>
    </div>
</div>

